<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이메일 인증 완료입니다.</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        img {
            width: 60%; /* Adjust the size as needed */
            height: auto;
        }
    </style>
</head>
<body>
<img src="https://github.com/shinhan-final-project/FrontEnd/blob/main/src/%EC%99%84%EB%A3%8C.png?raw=true">
</body>
</html>
